* {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body a:hover {
  text-decoration: none;
}

body p,
body a {
  font-size: 18px;
}

.dark h2 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #1b1b1b;
}

body h2 {
  font-size: 3rem;
  font-weight: bold;
}

.home-title {
  font-size: 10rem;
  font-family: "Dancing Script", cursive;
  padding-top: 15%;
  padding-bottom: 10px;
}

.animation {
  opacity: 100;
  animation: opacity 5s;
}

#home {
  color: #fff;
  background-image: url("./images/mountain.jpg");
  background-size: cover;
  text-align: center;
  min-width: fit-content;
  height: 100vh;
  text-shadow: 2px 2px 5px #1b1b1b;
}

.down-arrow a {
  color: lightgray;
}

.down-arrow a:hover {
  color: #fff;
}

.bg {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
}

.dark {
  color: #fff;
  background: linear-gradient(to right, rgba(0, 94, 115, 0.9), rgba(195, 132, 233, 0.9)), url('./images/texture.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 500px;
}

#about {
  padding-left: 10%;
  padding-right: 10%;
}

#about p {
  text-align: left;
}

.about-img {
  width: 75%;
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  margin-bottom: 25px;
}

.contact.col {
  padding: 0px;
}

.contact {
  margin: auto;
}

#footer {
  text-align: center;
  background-color: #eee;
  padding: 50px 32px;
}

.social-icons {
  padding: 5px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.react-icon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}