* {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.home-title {
  font-size: 10rem;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 5px #1b1b1b;
  padding-top: 15%;
  padding-bottom: 2%;
}

#home h2 {
  font-weight: bolder;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #1b1b1b;
}

a {
  font-weight: bolder;
}

/* Div Backgrounds */
.dark {
  color: #fff;
  background: linear-gradient(to right, rgba(0, 94, 115, 0.9), rgba(195, 132, 233, 0.9)), url('./images/texture.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.light {
  background-color: #fff;
}

.bg {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
}

/* HOME/HERO */
#home {
  color: #fff;
  background-image: url("./images/mountain.jpg");
  background-size: cover;
  text-align: center;
  min-width: fit-content;
  height: 100vh;
}


.down-arrow a {
  color: lightgray;
}

.down-arrow a:hover {
  color: #fff;
}

/* ABOUT */
#about {
  padding-left: 10%;
  padding-right: 10%;
}

#about p {
  text-align: left;
}

/* PROJECTS */
.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  margin-bottom: 25px;
}

.card-row {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #eee;
  padding: 50px 32px;
}

/* IMGS and ICONS */
.social-media-icon {
  width: 60px;
  padding: 10px;
}

.profile-img {
  border: 3px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.technologies-icon {
  width: 200px;
  padding: 40px;
}

.technologies-icon:hover {
  width: 220px;
  padding: 40px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* media queries*/
.animation {
  opacity: 100;
  animation: opacity 5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.half-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}