html {
  scroll-behavior: smooth;
  font-size: 1.25vw;
}

body {
  background: #eee;
  font-family: "Raleway", sans-serif;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* Dark Background Component */
.darkbg {
  color: #fff;
  text-align: center;
  padding: 50px;
  background-image: url("./images/gradientbg.png");
  background-size: cover;
}

/* Light Background Component */
.lightbg {
  padding: 50px;
  text-align: center;
}

/* Nav Bar */
.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* HOME SECTION */
#home {
  color: #fff;
  text-shadow: 2px 2px 5px #1b1b1b;
  height: 100%;
  padding: 0;
  background-image: url("./images/mountainbg.png");
  background-size: cover;
  text-align: center;
}

.hometitle {
  font-size: 10vw;
  text-align: center;
  padding-top: 300px;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
}

.hometitledescription {
  text-align: center;
  font-size: 2vw;
  padding: 40px 0;
  font-weight: lighter;
}

.scrolldown a {
  color: lightgray;
  font-size: 0.75vw;
}

.scrolldown a:hover {
  color: #fff;
}

/* ABOUT */
#about {
  padding-left: 10%;
  padding-right: 10%;
}

.aboutdescription h2,
.technologies h2,
.projects h2,
.contact h2 {
  font-family: "Dancing Script", cursive;
  font-size: 5vw;
  font-weight: lighter;
  text-shadow: 2px 2px 5px #1b1b1b;
}

.aboutdescription,
.projectsdescription {
  line-height: 40px;
}

.aboutdescription p {
  text-align: left;
}

.profile-img {
  border: 3px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.technologies-icon {
  width: 200px;
  padding: 40px;
}

/* Projects */
.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  margin-bottom: 25px;
}

/* CONTACT FORM */
button {
  height: 40px;
  width: 50%;
}

input {
  height: 30px;
  padding: 20px;
  width: 50%;
}

textarea {
  padding: 20px;
  width: 50%;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #eee;
  padding: 50px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.social-media-icon {
  width: 50px;
  padding-left: 10px;
}
